.navbarContainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #cdc1d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  border-bottom: 3px solid #694d85;
  z-index: 998;
}

.navbarContainer div a:hover {
  color: #694d85;
}

.hamburger-react:hover div {
  background: #694d85 !important;
}

.hamburger-react:nth-of-type(1) {
  left: 16rem !important;
}

.my-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-menu-content a {
  font-size: 2.5rem;
}

#Logo {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 4.5rem;
  height: 4.5rem;
}
