.homeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.brandingContainer {
  user-select: none;
}

@media (max-width: 1070px) {
  .brandingContainer {
    display: none;
  }
}
