body {
  background-color: #cdc1d9;
}

.container {
  padding-top: 4rem;
}

.brandingText {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.linkText {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: inherit;
  transition: transform 0.5s forwards;
}

.linkText:hover {
  transform: scale(1.1);
}

.marketingText {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 1.25rem;
}

.textBold {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 1.5rem;
}

.heading {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 2rem;
}
